@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Jalnan";
  font-weight: 200;
  src: url("/fonts/Jalnan.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, Jalnan, sans-serif;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
.text-gradient {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
